.services__first-image{
  background-image: url(../../../images/services/center-1.jpg);
  width: 745px;
  height: 478px;
  background-repeat: no-repeat;
  overflow: hidden;
  
}
@media (max-width:1399px) {
  .services__first-image {
    height:537px;
      
  }
}